<% include header %>
    <main>
        <div class="container">
            <!-- <h4> Note: You can <b> remove</b> yourself from the database, or <b>take</b> your own admin rights!</h4>     -->
            <h4 class="center-align">
                <b> Orders (Admin)</b>
            </h4>
            <table class="highlight" style="margin-top:50px; border-style: groove">
                <tbody>
                    <% if (orders.length) {%>
                        <% orders.forEach(function(order) { %>
                            <% include adminorderitem %>
                                <% }); %>
                                    <% } else{ %>
                                        <h1> Please place some orders!</h1>
                                        <% } %>
                </tbody>
            </table>
        </div>
    </main>
    <% include footer %>