<% include header %>
<main>
<div class="container">
        <div class="card-panel red lighten-2 white-text center">
          <h4>Your cart</h4>
          <hr />
          <br />
          <h5>
            Subtotal:<b> ${this.countPrice() || 0}.00</b>
          </h5>
          <br />
          <br />
         <button class="waves-effect waves-light btn white-text">
            Order items
          </button>
          <Payments amount={this.countPrice()} />
        </div>
        <% user.cart.forEach(function(cartitem) { %>
            <% include cartitem %>
        <% }); %>
</div>
</main>
<% include footer %>