<% include header %>
  <main>
    <div class="container">
      <h4 class="center-align">
        <div class="card-panel red lighten-2 white-text center">
          <h4>Your cart</h4>
          <hr />
          <a href="/order" class="waves-effect waves-light btn white-text">
            Order items
          </a>
          <Payments amount={this.countPrice()} />
        </div>
      </h4>
      <table class="highlight" style="margin-top:50px; border-style: groove">

        <tbody>
          <% if (user.cart.length) {%>
            <% user.cart.forEach(function(pizzatmp) { %>
              <% include cartitem %>
                <% }); %>
                  <% } else{ %>
                    <h1> Please place some orders</h1>
                    <% } %>
        </tbody>
      </table>
    </div>
  </main>
  <% include footer %>