<tr>
    <td style="width: 10%">
        <%= pizzatmp.name %>
    </td>
    <td style="width: 20%">
        <img src="images/220px-Eq_it-na_pizza-margherita_sep2005_sml.jpg">
    </td>
    <td style="width: 50%">
        <%= pizzatmp.price %>
    </td>
</tr>