<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../styles/style.css">

    <!-- Fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <!-- Header -->
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="margin-left:20px">Restaurant</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="index.html">Home</a>
                </li>

                <li>
                    <a href="menu.html">Menu</a>
                </li>
                <li>
                    <a href="orders.html">Orders</a>
                </li>

                <li>
                    <a href="login.html">Login</a>
                </li>
                <li>
                    <a class="waves-effect blue-grey btn-large" href="login.html">Register</a>
                </li>
            </ul>
        </div>
    </nav>