<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="../styles/style.css">

    <!-- Fontawesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>Restaurant</title>
</head>

<body>
    <!-- Header -->
    <nav>
        <div class="nav-wrapper">
            <a href="/home" class="brand-logo" style="margin-left:20px">Restaurant</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <% if (!user) {%>
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a class="waves-effect blue-grey btn-large" href="/register">Register</a>
                    </li>
                <% } else{ %>  
                <li>
                    <a href="/home">Home</a>
                </li>

                <li>
                    <a href="/menu">Menu</a>
                </li>
                <li>
                    <a href="/admin-menu">Menu (Admin)</a>
                </li>
                <li>
                    <a href="/users">Users (Admin)</a>
                </li>
                <li>    
                <a href="/cart" class="waves-effect waves-light btn white-text" styles={{ margin: '20px' }}>
                    <i class="material-icons">shopping_cart</i>
                </a>
            
                </li>
                <li>
                    <a class="black-text" href="/profile">Profile</a>
                </li>
                <li>
                    <a class="waves-effect red darken-1 btn-small black-text" href="/logout">Log out</a>
                </li>
                <% } %>
            </ul>
        </div>
    </nav>