<% include header %>
    <!-- Login -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col s12 m6 push-l3 push-m3">
                    <div class="card blue-grey darken-1 center-align">
                        <div class="card-content white-text">
                            <span class="card-title">Login</span>
                            <form action="/login" method="POST">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">email</i>
                                        <input name="email" id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">E-mail</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <i class="material-icons prefix">vpn_key</i>
                                        <input name="password" id="icon_prefix" type="password" class="validate">
                                        <label for="icon_prefix">Password</label>
                                    </div>
                                </div>
                                <div class="card-action">
                                    <input class="waves-effect blue btn-large" type="submit" value="login" />
                                    <a class="waves-effect red btn-large" href="/forgotten">Forgotten password</a>
                                </div>
                            </form>
                        </div>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">Remember me :(((</label>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <% include footer %>