<% include header %>
<!-- Register -->
   <main>
        <ul>
        </ul>
    <div class="container ">
        <table class="highlight" style="margin-top:50px; border-style: groove">

            <tbody>
            <% pizzas.forEach(function(pizza) { %>
                <% include pizzaitem %>
            <% }); %>
            </tbody>
        </table>
    </div>
</main>
<% include footer %>