<% include header %>
<!-- Register -->
   <main>
        <ul>
        </ul>
    <div class="container ">
        <table  class="highlight" style="margin-top:50px; border-style: groove">

            <tbody>

            <% pizzas.forEach(function(pizza) { %>
                <div class="card-stacked">
                    <div class="card-content white-text">
                        <% include pizzaitem %>
                    </div>
                </div>
            <% )} %>
            </tbody>
        </table>
    </div>
</main>
<% include footer %>