<tr>
    <td style="width: 10%">
        <%= pizza.name %>
    </td>
    <td style="width: 20%">
        <img src="images/220px-Eq_it-na_pizza-margherita_sep2005_sml.jpg">
    </td>
    <td style="width: 50%">
        <%= pizza.description %>
    </td>
    <td style="width: 10%">
        <a class="waves-effect blue-grey btn">Edit</a>
    </td>
    <td style="width: 10%">
        <a class="waves-effect red btn">Delete</a>
    </td>
</tr>